body {
    background-image: url(Background.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 1255px;
    height: auto;
}

.header img{
    width: 1265px;
    height: auto;
    align-items: center;
}

ul.navbar {
    list-style: none;
    background-color: #657c58;
    width: 1265px;
    height: 70px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 0;
    justify-content: center;
    align-items: center;
    display: flex;
}

ul.navbar li {
    float: left;
    position: relative;
    
}

ul.navbar li a {
    display: block;
    color: #ecd689;
    padding: 20px 16px;
    text-decoration: none;
}

ul.navbar .dropdown {
    display: none;
    position: absolute;
    background-color: #657c58;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 200px;
}

ul.navbar .dropdown li a {
    padding: 12px 16px;
    
}

.dropdown-parent:hover .dropdown {
    display: block;
}
.beranda {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px auto;
    width: 1250px
}
.beranda img {
    align-items: center;
    width: 30%;
    min-width: 250px;
    height: auto;
    border-radius: 8px;
    border: 3px solid #ffffff;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    object-fit: cover;
    transition: transform 0.5s ease;
}
.beranda img:hover {
    transform: scale(1.05);
}
p {
    text-align: center;
    text-align: justify;
    background-color:#FFFFFF;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 20px;
    border: #243554;
    border-style: dashed;
    padding: 30px;
    padding-left: 20px;
    padding-right: 20px;
    color: #243554;
}
.footer img{
    width: 1265px;
    height: auto;
    align-items: center;
}