body {
    background-image: url(Background.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 1255px;
    height: auto;
}

.header img{
    width: 1260px;
    height: auto;
    align-items: center;
}

ul.navbar {
    list-style: none;
    background-color: #657c58;
    width: 1260px;
    height: 70px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 0;
    justify-content: center;
    align-items: center;
    display: flex;
}

ul.navbar li {
    float: left;
    position: relative;
    
}

ul.navbar li a {
    display: block;
    color: #ecd689;
    padding: 20px 16px;
    text-decoration: none;
}

ul.navbar .dropdown {
    display: none;
    position: absolute;
    background-color: #657c58;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 200px;
}

ul.navbar .dropdown li a {
    padding: 12px 16px;
    
}

.dropdown-parent:hover .dropdown {
    display: block;
}

.hias img {
    float: left;
    width: 200px;
    height: auto;
    margin-left: 20px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    transition: transform 0.5s ease;
}
.hias img:hover{
    transform: scale(1.05);
    content: url(SDGs14hover.png);
}
p{
    text-align: center;
    background-color:#FFFFFF;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 50px;
    border-radius: 20px;
    border: #243554;
    border-style: dashed;
    padding: 30px;
    padding-left: 10px;
    padding-right: 10px;
    color: #243554;
}
.hias2 img {
    float: right;
    width: 200px;
    height: auto;
    margin-right: 20px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    transition: transform 0.5s ease;
}
.hias2 img:hover{
    transform: scale(1.05);
    content: url(SDGs14hover.png);
}
h2 {
    margin-top: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;
    color: #243554;
    text-decoration-line: underline;
    text-align: center;
}
p.tantangan{
    text-align: center;
    text-align: justify;
    background-color:#FFFFFF;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 20px;
    border: #243554;
    border-style: dashed;
    padding: 30px;
    padding-left: 20px;
    padding-right: 20px;
    color: #243554;
}
.FotoTantangan {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px auto;
    width: 1250px
}
.FotoTantangan img {
    align-items: center;
    width: 30%;
    min-width: 250px;
    height: auto;
    border-radius: 8px;
    border: 3px solid #ffffff;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    object-fit: cover;
    transition: transform 0.5s ease;
}
.FotoTantangan img:hover {
    transform: scale(1.05);
}
.Potensi{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    margin: 40px 100px;
}

p.potensi {
    text-align: justify;
    background-color: #FFFFFF;
    border-radius: 20px;
    border: dashed #243554;
    padding: 30px 20px;
    color: #243554;
    width: 500px;
    flex-shrink: 0;
    margin-left: 100px;
    margin-right: 20px;
    padding-bottom: 120px;
}

.FotoPotensi img {
    width: 500px;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    border: 3px solid #ffffff;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    margin-right: 100px;
    margin-left: 20px;
}

p.Solusi{
    text-align: center;
    text-align: justify;
    background-color:#FFFFFF;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 20px;
    border: #243554;
    border-style: dashed;
    padding: 30px;
    padding-left: 20px;
    padding-right: 20px;
    color: #243554;
}