body {
    background-image: url(Background.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 1255px;
    height: auto;
}

.header img{
    width: 1260px;
    height: auto;
    align-items: center;
}

ul.navbar {
    list-style: none;
    background-color: #657c58;
    width: 1260px;
    height: 70px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 0;
    justify-content: center;
    align-items: center;
    display: flex;
}

ul.navbar li {
    float: left;
    position: relative;
    
}

ul.navbar li a {
    display: block;
    color: #ecd689;
    padding: 20px 16px;
    text-decoration: none;
}

ul.navbar .dropdown {
    display: none;
    position: absolute;
    background-color: #657c58;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 200px;
}

ul.navbar .dropdown li a {
    padding: 12px 16px;
    
}

.dropdown-parent:hover .dropdown {
    display: block;
}

.FullSDGs img{
    float: left;
    width: 850px;
    height: auto;
    padding-bottom: 50px;
}
h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;
    color: #243554;
    text-decoration-line: underline;
    text-decoration-color: #657c58;
    padding-top: 50px;
    margin-right: 45px;
    float: right;
}
p{
    float: right;
    text-align: center;
    width: 250px;
    height: 315px;
    background-color:#FFFFFF;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 100px;
    border-radius: 20px;
    border: #243554;
    border-style: dashed;
    padding: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 25px;
    color: #243554;
}

.FULLSDGS {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;  
    gap: 20px;  
    width: 100%;
    margin-bottom: 100px;
}

.TextReveal {
    position: relative;
    align-items: center;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 20px;
    background: #eee;
}

.TextReveal img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    padding: 0;
}

.text-reveal {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.55);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    font-size: 17px;
    padding: 10px;
    text-align: center;
    transition: opacity 0.4s ease;
    border-radius: 20px;
}

.TextReveal:hover .text-reveal {
    opacity: 1;
}
